<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>List</title>
</head>
<body>
<div th:replace="~{fragments/header :: header}" />
<h3 th:text="${title}">Title</h3>
<a href="/hello/form" th:href="@{/hello/form}">创建hello</a>
<table border="1" >
    <thead>
    <tr>
        <td>ID</td>
        <td>Name</td>
        <td>Email</td>
        <td>Operation</td>
    </tr>
    </thead>
    <tbody>
    <tr th:if="${helloList.size()} eq 0">
        <td colspan="4">No Hello List</td>
    </tr>
    <tr th:each="hello: ${helloList}">
        <td th:text="${hello.id}"></td>
        <td th:text="${hello.name}"></td>
        <td th:text="${hello.email}"></td>
        <td>
            <a th:href="@{'/hello/' + ${hello.id}}">查询</a>
            <a th:href="@{'/hello/update/' + ${hello.id}}">修改</a>
            <a th:href="@{'/hello/delete/' + ${hello.id}}">删除</a>
        </td>
    </tr>
    </tbody>
</table>
<div th:replace="~{fragments/footer :: footer}" />
</body>
</html>