<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<div th:replace="~{fragments/header :: header}" />
<h3 th:text="${title}">Title</h3>
<div>
    <P><strong>ID:</strong><span th:text="${hello.id}"></span> </P>
    <P><strong>Name:</strong><span th:text="${hello.name}"></span> </P>
    <P><strong>Email:</strong><span th:text="${hello.email}"></span> </P>
</div>
<div th:replace="~{fragments/footer :: footer}" />
</body>
</html>